[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "docs/doxygen/doxygen-awesome"]
	path = docs/doxygen/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css